<%- include("./layouts/header"); -%>
<body>
  <%- include("./layouts/navbar"); -%>

  <figure class="text-center">
      <blockquote class="blockquote">
        <p>Getting 1% better everyday!</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Mayaa<cite title="Source Title">THE OG</cite>
      </figcaption>
    </figure>
<br>
<br>
<div class="card text-center">
    <div class="card-body">
    <img src="http://pngimg.com/uploads/star/star_PNG41474.png" style="width: 25%;" class="rounded float-start" alt="...">
    <!-- <img src="https://webstockreview.net/images/coming-soon-png-images-12.png" class="rounded float-end" alt="..."><br><br>Upcoming Events -->
    <div>
      <h2><u>Upcoming Events</u></h2>
      <div id = 'eventsList' style="margin-top: 5%;">

       <!-- <h4>Leadership Seminar</h4>
        <p>May 13, 2021</p>
        <h4>Civic Hackathon</h4>
        <p>May 31, 2021</p> -->
      </div>
    </div>
    </div>
    <div class="card-footer text-muted">
      Code Feed
    </div>
  </div>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/createPost" class="btn btn-outline-primary" type="button"><i class="fas fa-plus"></i> Add New Post</a>
  </div>
<br>
<% for (const post of posts) { %>
  <div class="card container" style="width: 60rem;">
    <div class="card-body">
      <p class="card-title text-end text-muted">1 day ago</p>
      <% 
        let isLiked = false
        for (like of post.likes) {  
          if(like.user_id == user.id) {
            isLiked = true
          }
        }
        if(isLiked){
      %>
        <h5 class="card-title"> <%= post.title %> <i class="far fa-heart-circle" style="cursor: pointer; color: blue" id = "<%= post.id %>" alt = "<%= user.id %>"><%= post.likeCount %></i></h5>
      <% } else {%>
        <h5 class="card-title"> <%= post.title %> <i class="far fa-heart-circle" style="cursor: pointer;" id = "<%= post.id %>" alt = "<%= user.id %>"><%= post.likeCount %></i></h5>
      <%}%>
      <h6 class="card-subtitle mb-2 text-muted"> @user </h6>
      <p class="card-text"> <%= post.descr %> </p>
      <h6 class="card-subtitle mb-2 text-muted"> <%= post.project_link %> </h6>
      <a href="#" class="card-link">comments <span>0</span> </a>
      <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">view post</a>
    </div>
  </div>
  <br>
  
<% } %>
<script type="text/javascript" src = "/javascripts/home.js"></script>
</body>
</html>