<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> 
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="/javascripts/edituser.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <%- include("./layouts/navbar"); -%>
    <h4 class="text-center">My Profile</h4>
  <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="<%= user.photo_src %>" alt=""/>
                        <!-- <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                <%= user.firstname %>, <%= user.lastname %> <i class="fal fa-badge-check"></i>
                            </h5>
                            <h6 id="occupation">
                                Fullstack Developer
                            </h6>
                            <p class="proile-rating">USERNAME : <span>@<%= user.username %></span></p>
                            <p class="proile-rating">BIO : <%= user.bio %></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="" role="tab" aria-controls="profile" aria-selected="false">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/profile/edit" class="btn btn-outline-primary btn-sm" name="btnAddMore" id="editbutton">Edit Profile</a>
            </div>
        </div>
    <!-- </form>   -->
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work text-center">
                    <a href="/logout" class="btn btn-outline-primary btn-sm d-grid gap-2 col-6 mx-auto">Log Out</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="/createPost" class="btn btn-outline-primary" type="button"><i class="fas fa-plus"></i> Add New Post</a>
                        </div>
                        <br>
                    <% for (const post of posts) { %>
                        <div class="card" style="width: 40rem;">
                            <div class="card-body">
                              <p class="card-title text-end text-muted">1 day ago</p>
                              <% 
                              let isLiked = false
                              for (like of post.likes) {  
                                if(like.user_id == user.id) {
                                  isLiked = true
                                }
                              }
                              if(isLiked){
                            %>
                            <h5 class="card-title"> <%= post.title %> <i class="far fa-heart-circle" style="cursor: pointer; color: blue" id = "<%= post.id %>" alt = "<%= user.id %>"></i><span><%= post.likeCount %></span></h5>
                            <% } else {%>
                              <h5 class="card-title"> <%= post.title %> <i class="far fa-heart-circle" style="cursor: pointer;" id = "<%= post.id %>" alt = "<%= user.id %>"></i><span><%= post.likeCount %></span></h5>
                            <%}%>
                              <!-- <h6 class="card-subtitle mb-2 text-muted"> @user </h6> -->
                              <p class="card-text"> <%= post.descr %> </p>
                              <h6 class="card-subtitle mb-2"><a href="<%= post.project_link %>" class="card-link"><%= post.project_link %> </a></h6>
                              <a href="" class="card-link viewpost" data-toggle="modal" data-target="#commentModal<%= post.id %>">comments</a>
                              <a href="" class="card-link viewpost" data-toggle="modal" data-target="#myModal<%= post.id %>">
                                view post
                              </a>
                              <a href="/post/<%= post.id %>/edit" class="card-link">edit post</a>
                              <form action="/deletePost/<%= post.id %>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    delete
                                </button>
                              </form>
                            </div>
                        </div>


                        <div class="modal fade show" id="commentModal<%= post.id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"> <%= post.title %> </h5>
                                        <a href= '/users/<%= user.username %>'>
                                          <button type="button" class="close" aria-label="Close">
                                            @<%= user.username%>
                                          </button>
                                      </a>
                                    </div>
                                    <div class="modal-body">
                                      <% for(comment of post.comments) {%>
                                        <div>
                                        <a href= '/users/<%= comment.username%>'>
                                          <h6 class="card-subtitle mb-2 text-muted" style="cursor: pointer;" > <%= comment.username %> </h6> 
                                        </a>
                                        <% if(comment.user_id == user.id) {%>
                                          <p style="color: black;"><%= comment.initial_comment %> <button class="btn btn-outline-primary btn-sm delete-comment" alt = 'post<%=post.id%>' id = 'button<%=user.id%>'>delete</button></p>
                                        <%} else {%>
                                          <p style="color: black;"><%= comment.initial_comment %></p>
                                          <%}%>
                                        </div>
                                      <%}%>
                                    </div>
                                    <div class="modal-footer">
                                      <form class = 'commentForm' id = 'form<%= post.id %>' alt = 'user<%= user.id %>'>
                                        <div class="input-group mb-3">
                                          <input type="text" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon2"  required>
                                        </div>
                                      </form>
                                      <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                              </div>
                          </div>



                          <div class="modal fade show" id="myModal<%= post.id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"> <%= post.title %> </h5>
                                        <a href= '/users/<%= user.username %>'>
                                          <button type="button" class="close" aria-label="Close">
                                            @<%= user.username%>
                                          </button>
                                      </a>
                                    </div>
                                    <div class="modal-body">
                                      <h6 class="card-subtitle mb-2 text-muted"><a href="<%= post.project_link %>"> <%= post.project_link %> </a></h6>
                                        <p> <%= post.descr %> </p>
                                        <div style="background-color: #eff0f1;">
                                          <% if (post.code_block !== null) {%>
                                            <pre><code> <%- post.code_block.replace(/\n/g, '<br>') %> </code></pre>
                                          <% } %>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        <!-- Modal -->


                        <br>
                    <% } %>

                    </div>
                </div>
            </div>
        </div>         
</div>
<!-- <script type="text/javascript" src = "/javascripts/home.js"></script> -->
</body>
</html>